.navbar {
  grid-area: navbar;
  color: #e91e63;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  background-color: white;
  padding: 8px 64px;
  position: sticky;
  top: 0;
  box-shadow: 0 0 1rem 0 rgba(58, 59, 69, 0.15) !important;
  z-index: 100;
}
.nav-link {
    font-weight: 500;
}
.nav-link:focus{
    border: none;
}
.nav-link:hover{
    color: #4285f4;
}
.dropdown-menu {
  padding: 8px;
  border-radius: 8px;
}
