.sidebar {
  grid-area: sidebar;
  background-color: #4285f4;
  padding: 8px;
  display: grid;
  row-gap: 8px;
  grid-auto-flow: row;
  grid-template-rows: repeat(7, max-content);
}
/*Sidebar Menu*/
.sidebar-menu {
  color: white;
  padding: 4px;
  display: block;
}
.sidebar-menu:hover {
  text-decoration: none;
  color: white;
  background-color: hsl(217, 89%, 50%);
  border-radius: 4px;
}
/* Management */
.sidebar-menu {
  border: none;
}
.sidebar-menu a {
  color: white;
  display: block;
}
.sidebar-menu a:hover {
  text-decoration: none;
  color: white;
}
.sidebar ul {
  list-style: none;
  text-decoration: none;
  display: grid;
  row-gap: 2px;
  padding: 8px;
  border-radius: 8px;
  background-color: white;
}
.management-list {
  border: none;
  padding: 4px;
}
.management-list:hover {
  background-color: #4285f4;
  border-radius: 4px;
}
.management-list a {
  color: #4285f4;
  display: block;
  font-weight: 500;
}
.management-list a:hover {
  text-decoration: none;
  color: white;
}
