.login-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.card-login {
  display: grid;
  border-radius: 16px;
  background-color: white;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  padding: 16px;
}
.login{
  justify-self: flex-end;
}