/* Wrapper */
.cart-wrapper {
  display: grid;
  row-gap: 8px;
}
.product-list-wrapper {
  display: grid;
  row-gap: 8px;
  width: 100%;
}
.cart-image-empty-wrapper {
  display: grid;
  justify-content: center;
}

/* Image */
.image-empty {
  max-width: 275px;
}
.cart-image {
  grid-area: image;
  max-width: 80px;
  border-radius: 8px;
}

.empty {
  font-size: 24px;
  font-weight: 600;
  justify-self: center;
}
.product-list {
  display: grid;
  grid-template-areas:
    "image name quantity"
    "image price quantity";
  column-gap: 8px;
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: repeat(2, max-content);
}
.cart-name {
  font-size: 16px;
  font-weight: 500;
  grid-area: name;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.cart-price {
  grid-area: price;
}
.cart-quantity {
  grid-area: quantity;
  display: grid;
  grid-auto-flow: column;
  column-gap: 8px;
  align-items: center;
  justify-content: center;
}
.cart-form {
  background-color: transparent;
  border: none;
  font-weight: 400;
}
.total {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-auto-flow: column;
  column-gap: 8px;
  font-size: 18px;
  font-weight: 500;
  justify-content: end;
}
.button-cart-wrapper {
  display: grid;
  grid-auto-flow: column;
  column-gap: 8px;
}
