.cart {
  display: grid;
  height: 95vh;
  grid-template-rows: 32px 1fr max-content;
  row-gap: 16px;
  background-color: white;
  padding: 8px;
  border-radius: 16px;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.cart-title {
  display: flex;
  justify-self: center;
}
.cart-bottom{
  display: grid;
  row-gap: 8px;
}
/* Wrapper */
.cart-wrapper {
  display: grid;
  row-gap: 8px;
}
.product-list-wrapper {
  display: grid;
  row-gap: 8px;
  width: 100%;
  align-self: start;
}
.cart-image-empty-wrapper {
  display: grid;
  justify-content: center;
}

/* Image */
.image-empty {
  max-width: 275px;
  align-self: flex-end;
}
.cart-image {
  grid-area: image;
  max-width: 80px;
  border-radius: 8px;
}

.empty {
  justify-self: center;
}
.product-list {
  display: grid;
  grid-template-areas:
    "image name quantity"
    "image price quantity";
  column-gap: 8px;
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: repeat(2, max-content);
  padding-bottom: 8px;
  border-bottom: 1px solid #dedede;
}
.cart-name {
  grid-area: name;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.cart-price {
  grid-area: price;
}
.cart-quantity {
  grid-area: quantity;
  display: grid;
  grid-auto-flow: column;
  column-gap: 8px;
  align-items: center;
  justify-content: center;
}
.cart-form {
  background-color: transparent;
  border: none;
  font-weight: 400;
}
.total {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-auto-flow: column;
  column-gap: 8px;
  justify-content: end;
}
.button-cart-wrapper {
  display: grid;
  grid-auto-flow: column;
  column-gap: 8px;
}
