.table{
  overflow: auto;
  border-radius: 8px;
}
.table .sentences-column {
  display: flex;
  justify-content: flex-start;
}
.table > div {
  padding: 8px;
  border-bottom: 1px solid #dedede;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.number-column {
  position: sticky;
  left: 0;
}
.manage-column {
  display: grid;
  grid-auto-flow: column;
  column-gap: 8px;
}
div > .table-header {
  background-color: #f4437e;
  border-color: white;
  color: white;
}