.admin-category-wrapper {
  padding: 16px;
  display: grid;
  row-gap: 16px;
  grid-template-columns: 1fr max-content;
  grid-template-rows: repeat(2, max-content);
  grid-template-areas:
    "title form"
    "table table";
}
.form-category-wrapper{
  display: grid;
  column-gap: 8px;
  grid-auto-flow: column;
  align-content: center;
}
.admin-table.category {
  display: grid;
  grid-area: table;
  grid-template-columns: repeat(2, max-content) 1fr repeat(2, max-content);
  background-color: white;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}